# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
.gradle/
local.properties
key.properties
**/*.keystore
**/*.jks
captures/
.cxx/

# iOS
Pods/
Runner.xcworkspace/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.vs/
.metadata